:root {
    --steelGray:  #83869A;
    --pink: #F74780;
    --softPink: #FFA7C3;
    --white: #ffffff;
    --darkBlue: #13183F;
    -softSteelBlue: #666CA3;
    --gradient-1: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    --gradient-2: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;;
    font-size: 1.6rem;
    line-height: 2rem;
}
/* Globales */
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
/* Utilities */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.text-center{
    text-align: center;
}